{% extends 'blog/base.html' %}
{% load static %}
{% block title %} Home {% endblock %}
{% block css %}
    <link href="{% static 'css/heroic-features.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<!-- Page Content -->

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">Welcome to the Blog!</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
      <a href="#" class="btn btn-primary btn-lg">Get Started!</a>
    </header>

    <!-- Page Features -->
    <div class="row text-center">
      {% for post in posts %}
        <div class="col-lg-4 col-md-6 mb-3">
          <div class="card h-100">
            <img class="card-img-top" src="{{ post.author.profile.image.url }}" alt="">
            <div class="card-body">
              <h4 class="card-title">{{post.title}}</h4>
              <p class="card-text">{{post.content}}</p>
            </div>
            <div class="card-footer">
              <a href="{% url 'post-detail' post.id %}" class="btn btn-primary">See Post!</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="text-center">
        {% if is_paginated %}
           {% if page_obj.has_previous %}
               <a href="?page=1" class="btn btn-outline-primary mb-4">Fast</a>
               <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-primary mb-4">Previous</a>
           {% endif %}
           {% for num in page_obj.paginator.page_range %}
              {% if page_obj.number == num %}
                 <a href="?page={{ num }}" class="btn btn-primary mb-4">{{ num }}</a>
              {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                 <a href="?page={{ num }}" class="btn btn-outline-primary mb-4">{{ num }}</a>
              {% endif %}
           {% endfor %}
           {% if page_obj.has_next %}
               <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-primary mb-4">Next</a>
               <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-primary mb-4">Last</a>
           {% endif %}
        {% endif %}
    </div>

    <!-- /.row -->
  <!-- /.container -->
{% endblock %}