{% extends 'blog/base.html' %}
{% load static %}
{% block title %} Logout {% endblock %}
{% block css %}
    <link href="{% static 'css/heroic-features.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
      <div class="jumbotron my-4">
          <h1 class="display-3">You have been logged out!</h1>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
          <a href="{% url 'login' %}" class="btn btn-primary btn-lg">Login again!</a>
      </div>
{% endblock %}